<a href="https://colab.research.google.com/github/MarcoL087/Wild-Code-School-Training-2023/blob/main/Python_1_2_M%C3%A9thodes%2C_slicing_%26_debugging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Méthodes

## `String`

1.1 Utilisez une [méthode](https://runestone.academy/ns/books/published/py4e-int/strings/methods.html) Python qui permet de supprimer les espaces au début et à la fin du `string`suivant:

In [ ]:
x = " Hello  World    "
str.strip(x)

'Hello  World'

1.2 Utilisez une méthode Python qui permet de mettre en majuscules le `string` suivant:

In [ ]:
x = "Hi Denis ! Look at me, I'm a Vampire !"
str.upper(x)

"HI DENIS ! LOOK AT ME, I'M A VAMPIRE !"

1.3 Remplacez les caractères "f" par "n", et "v" par "t":

In [ ]:
x = "C'est une boffe situavion scribe ?"
x.replace('f', 'n').replace('v', 't')

"C'est une bonne situation scribe ?"

# Slicing

2.1 Maintenant, récupérez la première lettre du `string` suivant:

In [ ]:
x = "Hello World"
print (x[0])

H

2.2 Récupérez le premier élément de la `liste` suivante:

In [ ]:
x = ["mintcream", "burlywood", "salmon"]
print (x[0])

mintcream

2.3 Récupérez le premier élément du tuple suivant:

In [ ]:
x = ("burlywood", "salmon", "mintcream")
print (x[0])

burlywood

2.4 Récupérez le premier élément du dict suivant:

In [ ]:
x = {"name": "Jules César", "Job": "Musician", "age": 55}
print (list(x.items())[0])

('name', 'Jules César')


Pour un dict, on ne parle pas d'éléments, mais de clés 'keys" et valeurs "values".

2.5 Récupérez la valeur de la clé name:

In [ ]:
x = {"name": "Jules César", "Job": "Musician", "age": 55}

In [ ]:
print (x.get("name",0))

Jules César

2.6 Récupérez la clé associée à la première valeur:

In [ ]:
toto = {"name": "Jules César", "Job": "Musician", "age": 55}

In [ ]:
print (list(x.keys())[0])

name

2.7 Maintenant, récupérez les caractères de l'indice de 2 à 4 ('llo') inclus du string suivant:

In [ ]:
x = "Hello World"
print (x[2:5])

llo

2.8 Récupérez les éléments aux indices 2 à 4 inclus ["salmon ... "blanchedalmond"] de la list suivante:

In [ ]:
x = ["mintcream", "burlywood", "salmon", "aliceblue", "blanchedalmond", "cornflowerblue", "lavenderblush"]
print (x[2:5])

['salmon', 'aliceblue', 'blanchedalmond']

# Code debugging

3.1 Dans le code ci-dessous, remplacez "..." par la syntaxe qui convient pour que la phrase s'affiche en sortie:

In [ ]:
fruits = ["apple", "banana"]
if "apple" != fruits:
  print("Yes, apple is a fruit!")

Yes, apple is a fruit!

3.2 Dans le code ci-dessous, remplacez "..." par l'opérateur booléen `or` ou `and` qui convient pour que la phrase s'affiche en sortie:

In [ ]:
if 12 < 5 or 3 == 3:
  print("Here we go !")

Here we go !

3.3 Modifiez le code ci-dessous pour que la phrase s'affiche.

In [ ]:
fruits = ["kiwi", "strawberry", "lemon"]

if "kiwi".startswith("k"):
  print("Of course kiwi starts with a 'k'")

Of course kiwi starts with a 'k'

3.4 Modifiez le code ci-dessous pour que la phrase s'affiche.  
Vous n'avez le droit que de modifier l'emplacement des variables `var_1`, `var_2` et `var_3`.  
Aussi, vous pouvez ajoutez des parenthèses pour créer une exception aux priorités opératoires.

In [ ]:
var_1 = 12
var_2 = 4
var_3 = 2

if (var_1 + var_2) / var_3 == 8:
  print("You can call me 'The MasterMath'.")

You can call me 'The MasterMath'.

3.5 Vous allez maintenant vous familiariser avec la division euclidienne.  
Il y a ici deux termes à connaître:
* Le reste
* Le quotient  

Faites vos recherches pour être à l'aise avec ces termes.Aussi, faites vos recherches pour savoir quel symbole permet d'afficher le reste ou le quotient, en python.  
Une fois que c'est fait, vous pouvez faire l'exercice suivant:  
Parmi ses variables, lesquels ont une valeur divisible par 2, donc un reste égale à 0 ?
Pour répondre, vous allez devoir tester chacune des variable, et remplacer "..." par le symbole qui convient.

In [ ]:
var_1 = 3
var_2 = 6
var_3 = 7
var_4 = 14
var_5 = 12


if var_5 % 2 == 0:
  print(f"On s'exerce ici avec la division euclidienne. Le reste de {var_5} divisé par 2 est égale à 0.")
if var_4 % 2 == 0:
  print(f"On s'exerce ici avec la division euclidienne. Le reste de {var_4} divisé par 2 est égale à 0.")
if var_3 % 2 == 0:
  print(f"On s'exerce ici avec la division euclidienne. Le reste de {var_3} divisé par 2 est égale à 0.")
if var_2 % 2 == 0:
  print(f"On s'exerce ici avec la division euclidienne. Le reste de {var_2} divisé par 2 est égale à 0.")
if var_1 % 2 == 0:
  print(f"On s'exerce ici avec la division euclidienne. Le reste de {var_1} divisé par 2 est égale à 0.")

On s'exerce ici avec la division euclidienne. Le reste de 12 divisé par 2 est égale à 0.
On s'exerce ici avec la division euclidienne. Le reste de 14 divisé par 2 est égale à 0.
On s'exerce ici avec la division euclidienne. Le reste de 6 divisé par 2 est égale à 0.

3.6 Cette fois, on veut connaître les variables dont les valeurs ont un quotient supérieur à 5 lorsqu'on divise chaque valeur par 5. Remplacez "..." par le code qui convient.

In [ ]:
var_1 = 34
var_2 = 37
var_3 = 24
var_4 = 29
var_5 = 31

if (var_5 // 5) > 5:
  print(f"On s'exerce ici avec la division euclidienne. Le quotient de var_5 divisé par 5 est égale à {var_5 // 5}.")
if (var_2 // 5) > 5:
  print(f"On s'exerce ici avec la division euclidienne. Le quotient de var_2 divisé par 5 est égale à {var_2 // 5}.")
if (var_1 // 5) > 5:
  print(f"On s'exerce ici avec la division euclidienne. Le quotient de var_1 divisé par 5 est égale à {var_1 // 5}.")
if (var_4 // 5) > 5:
  print(f"On s'exerce ici avec la division euclidienne. Le quotient de var_4 divisé par 5 est égale à {var_4 // 5}.")
if (var_3 // 5) > 5:
  print(f"On s'exerce ici avec la division euclidienne. Le quotient de var_3 divisé par 5 est égale à {var_3 // 5}.")

On s'exerce ici avec la division euclidienne. Le quotient de var_5 divisé par 5 est égale à 6.
On s'exerce ici avec la division euclidienne. Le quotient de var_2 divisé par 5 est égale à 7.
On s'exerce ici avec la division euclidienne. Le quotient de var_1 divisé par 5 est égale à 6.