There is another type object we didn't talked about: `set`  
It looks like a `dictionaries`, but it's not a dictionaries.

In [ ]:
my_set = {"apple", "kiwi", "pineapple"}

In [ ]:
type(my_set)

set

Question : Why `myset` is not a object from `dict` class ?

Answer : A dict must have a a key-value structure. A set is a collection of unique elements, like in the example

Another specificity from `set` object is that they cannot have two items with the same values. Execute the cells below.

In [ ]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }

In [ ]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }
a_set

{'banana', 'cherry', 'lemon', 'strawberry'}

Question :  
Hom many items have the sets below ?
To answer, to can use your knowledge or the `len()` function.

In [ ]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}
dir(this_set)

In [ ]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}
print(len(this_set))

9

Question :  
Does a set can contains elements with differents types ?

In [ ]:
# try to make a set with objects with different types here:
answer = {"hey", 2, True, 2.33}

answer = set(answer)
print(answer)
print(type(answer))

{True, 2, 'hey', 2.33}
<class 'set'>

Question :  
Considering the list below, there is a simple way to know the amount of unique values from this list. How ?

In [ ]:
# Try to count the amount of unique values from this list, in one line of code.

a_list = [1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9]

a_list= set(a_list)
print(len(a_list))

9

There are four collection data types in the Python programming language:

* `List` is a collection which is ordered and changeable. Allows duplicate members.
* `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.
* `Set` is a collection which is unordered, unchangeable, and unindexed. No duplicate members, but you can remove items and add new items.
* `Dictionary` is a collection which is ordered and changeable. No duplicate members.

Question :   
Find a way to access to the first value of `this_set`

In [ ]:
this_set1= list(this_set)
this_set1[1]

2

Question :  
Find a way to add a value that will be unique in `a_set`

In [ ]:
a_set
a_set.add('mango')
a_set

{'banana', 'cherry', 'lemon', 'mango', 'strawberry'}

Question :  
Now, you have to add the value from `this_set` to `a_set`:

In [ ]:
a_set.union(this_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'banana', 'cherry', 'lemon', 'mango', 'strawberry'}

Question :    
If you display a `set` object, it's not display with the same order you define it. What can you say about the order the element are display ?

Answer: Order of items in sets is not important

Question :    
Find a way to display the elements that exist in both sets.

In [ ]:
a_set = {"banana", "grapes", "cherry", "pineapple", "kiwi", "strawberry"}

b_set = {"lemon", "kiwi", "grapes", "blueberry", "watermelon"}

a_set.intersection(b_set)

{'grapes', 'kiwi'}

There is other methods for `set` objects, that you can find [here](https://www.w3schools.com/python/python_ref_set.asp).