# Type

1. Dans la cellule de code ci-dessous, quel est, pour chaque cellule, le type de l'objet x ?  
`indice`: vous pouvez utiliser `type(x)` pour le révéler.

1.1

In [ ]:
x = 5

In [ ]:
type(x)

str

1.2

In [ ]:
x = "Hello World"

In [ ]:
type(x)

str

1.3

In [ ]:
x = 2.5

In [ ]:
type(x)

str

1.4

In [ ]:
x = ["mintcream", "burlywood", "salmon"]

In [ ]:
type(x)

str

1.5

In [ ]:
x = ("mintcream", "burlywood", "salmon")

In [ ]:
type(x)

str

1.6

In [ ]:
x = {"name": "Jules César", "Job": "Musician", "age": 55}

In [ ]:
type(x)

str

1.7

In [ ]:
x = True

2. Maintenant, vous allez devoir convertir des objets d'un certain type, en un autre type d'objet.  
C'est parti !

2.1 Convertissez x en float.

In [ ]:
x = 5

In [ ]:
float(x)

5.4

2.2 Convertissez x en int

In [ ]:
x = 5.4

In [ ]:
int(5.4)

5

2.3 Convertissez x en int

In [ ]:
x = 5.6

In [ ]:
int(5.6)

5

2.4 Que pouvez-vous remarquer ?

Réponse: int arrondi au chiffre inférieur

2.5 Trouvez le moyen d'arrondir x.

In [ ]:
x = 5.6

In [ ]:
>>> round(5.6)

6

2.6 Après avoir arrondi x, est-ce que x est toujours un `float` ?  
Réponse: nope

2.7 Ci-dessous, est-ce que x est un `int` ?

In [ ]:
x = 6.0

In [ ]:
int(6.0)

6

integer but used floating value

2.8 Arrondissez x avec 3 valeurs décimales.

In [ ]:
x = 3.14159265359
round(x,3)

3.142

# Built-in Function

3.1 Utilisez une [built-in function](https://docs.python.org/3/library/functions.html) pour compter le nombre de lettres dans l'objet de type `string` suivant:

In [ ]:
x = "Hello World"
len(x)

11

3.2 Utilisez une built-in function pour compter le nombre d'éléments dans l'objet de type `list` suivant:

In [ ]:
x = ["non", "pas", 1, "ni", 2, "ni", 3, "mais", 7.2132]

len(x)

9

3.3 Utilisez une built-in function sur une des deux variables pour que `resultat`  contienne une valeur positive.

In [ ]:
var_1 = 4
var_2 = -5

resultat = var_1 + abs(var_2)
print(resultat)

9

3.4 Utilisez une built-in function pour renvoyer la valeur minimum de la `list` suivante:

In [ ]:
a_list = [3.2, 41, 2, 23, 7]
min(a_list)

2

3.5 Utilisez une built-in function pour renvoyer la somme des valeurs de la `list` suivante:

In [ ]:
a_list = [3.2, 41, 2, 23, 7]
sum(a_list)

76.2