1. Réalise chacune des missions suivantes avec une syntaxe classique et ensuite avec une syntaxe courte en une seule ligne.

In [ ]:
# Une fonction qui convertit des montants en dollars vers des montants en euros

def dollar_to_euros(x):
  return round((x*0.93),2)

dollar_to_euros(7)

6.51

In [ ]:
(lambda x: round((x*0.93),2))(7)

6.51

In [ ]:
# Une fonction qui renvoie la somme des nombres pairs présents dans une liste contenant des nombres entiers.

list = [5, 7, 12, 10, 9, 22, 6, 18]

def sum_even_number(list):
  total = 0
  for number in list:
    if number % 2 == 0:
      total += number
  return total

sum_even_number(list)

68

In [ ]:
list = [5, 7, 12, 10, 9, 22, 6, 18]

sum(number for number in list if number % 2 == 0)

68

In [ ]:
# Une fonction qui convertit une liste de nombres entiers positifs ou négatifs) en une nouvelle liste contenant leurs valeurs absolues.

test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]

def abs_number(list):
  total = []
  for nombre in list:
      total.append((nombre ** 2) ** 0.5)
  return total

abs_number(test_list)

[0.0, 3.0, 6.0, 9.0, 12.0, 15.0, 18.0, 21.0, 24.0, 27.0]

In [ ]:

test_list = [0, 3, -6, 9, 12, -15, 18, -21, 24, 27]

tot = [abs(number) for number in test_list]

tot

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]