# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

In [ ]:
thistuple = (41, 27, 13, "food", "numbers", "things",
            ["apple", "banana", "cherry"], ["pasta", "pizza", "mozzarella"],
             {"United States": "Washington D.C.", "Italy": "Rome", "England": "London" },
             {"key1": "value1", "key2": "value2", "key3": "value3"})
print(type(thistuple))
print(thistuple)

<class 'tuple'>
(41, 27, 13, 'food', 'numbers', 'things', ['apple', 'banana', 'cherry'], ['pasta', 'pizza', 'mozzarella'], {'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'}, {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'})

Now, access the second-to-last item in the second list.

In [ ]:
thistuple[7][1]

'pizza'

# Mission 2

In the same tuple, access the last 4 elements using slicing.

In [ ]:
thistuple[6:]

(['apple', 'banana', 'cherry'],
 ['pasta', 'pizza', 'mozzarella'],
 {'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'},
 {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

In [ ]:
list_1 = list(thistuple)
list_1[3] = "meat"
thistuple = tuple(list_1)

print(thistuple)

(41, 27, 13, 'meat', 'numbers', 'things', ['apple', 'banana', 'cherry'], ['pasta', 'pizza', 'mozzarella'], {'United States': 'Washington D.C.', 'Italy': 'Rome', 'England': 'London'}, {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highet total.

In [ ]:
tuple_1 = (5, 17, 35, 44)
tuple_2 = (11, 3, 20, 39)

test_1 = list(tuple_1)
sum_1=sum(tuple_1)

test_2 = list(tuple_2)
sum_2=sum(tuple_2)

if sum_2>sum_1:
  print("The highet total is from tuple_2 : ",(sum_2))
if sum_2<sum_1:
  print("The highet total is from tuple_1 : ",(sum_1))
if sum_2==sum_1:
  print("It's a tie!!")

The highet total is from tuple_1 :  101

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

In [ ]:
word = input("Choose a word : ")
number= int(input("Choose a number : "))

my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

my_tuple_1= list(my_tuple)
if number <= len(my_tuple):
  my_tuple_1[number] = word
  print(my_tuple_1)
if number > len(my_tuple):
  print("Too much")

Choose a word : hi
Choose a number : 2
['data analyst', 'data scientist', 'hi', 'data architect']