# Mission 1

For each cell, execute the code and answer the question before moving on to the next.

In [ ]:
names = ["Fredy", "Nicolas", "Alexandre"]

for i in enumerate(names):
  print(i)
print(type(i))

(0, 'Fredy')
(1, 'Nicolas')
(2, 'Alexandre')
<class 'tuple'>

1. What type of object is returned as output?  
Hint: You can use `type(i)`.

Answer: Tuple

In [ ]:
for i, val in enumerate(names):
  print(i)
print(type(i))

0
1
2
<class 'int'>

In [ ]:
for i, val in enumerate(names):
  print(val)
print(type(val))

Fredy
Nicolas
Alexandre
<class 'str'>

2. What does `i` correspond to?
The first variable shows the index of the item in the list

What does `val` correspond to?  
The second variable shows the item itself in the list

Why is it so? It's the main use of the enumerate() function

Answer:

In [ ]:
for val, i in enumerate(names):
  print(i)

Fredy
Nicolas
Alexandre

In [ ]:
for val, i in enumerate(names):
  print(val)

0
1
2

3. This time, `i` returns first names and `val` returns numbers. Why is it so?

because is not important how we call a variable, its position will define the utilisation with enumerate()

4. What does the built in function `enumerate` do?
In what cases can it be useful?

Answer:
It takes a collection and returns it as an enumerate object.
It also adds a counter to each item of the iterable object and returns an enumerate object as an output string.
It allows us to write more efficient and readable code, making it easier to keep track of the current index within a loop.

# Mission 2

In [ ]:
test_list = ['Hi', 'my', 'name', 'is', "hi", "my","name", "is", "chickychicky"]

test_list[8] = "Marshall"

test_list

['Hi', 'my', 'name', 'is', 'hi', 'my', 'name', 'is', 'Marshall']

1. What does the 8 in square brackets mean?

It's the position of the element in the list


What action has been performed?

Replace the element

In [ ]:
for i in range(4):
  print(test_list[i])

Hi
my
name
is

2. What does `range(4)` mean?

Why are only the first 4 elements of `test_list` displayed?

Answer: 2. It's the stop of the range.
Because the range will stop at the 4th item of the list

In [ ]:
for i in range(2,8,2):
  print(test_list[i])

name
hi
name

3. What does `range(2,8,2)` mean ?  
Why are only the elements 'name', 'hi' and 'name' displayed?

Answer: Start, stop, step.

Because the starte ou our range will be the 2nd item, the end will be the 8th.
the range function will proceed by following the step in the list

# Mission 3

In [ ]:
numbers = [2,3,1,5,9]

for i in range(10,15):
  numbers.append(i)

numbers

[2, 3, 1, 5, 9, 10, 11, 12, 13, 14]

1. What does `range(10,15)` mean ?  
  What is the purpose of the method `append()` ?

Answer:
it'a a range that will start from 10 and ends to 15.
append() will add something at end of the list.

In [ ]:
del numbers[0]

numbers

[3, 1, 5, 9, 10, 11, 12, 13, 14]

2. What is the purpose of the `del` command?

Answer:
It allows to delete an item into a list thanks to its index

# Mission 4

In [ ]:
import random

random.randint(0,10)

5

1. What can the method `randint()` do ?

Answer:
It generates a random number based on the seed value

In [ ]:
numbers.insert(5, "hey hey hey")
numbers

[3, 1, 5, 9, 10, 'hey hey hey', 11, 12, 13, 14]

2. What can the method `.insert()` do ?  
You must answer using the terms 'parameter' and 'argument'.

Answer:
The insert() method inserts the specific argument that will replace a parameter of the list.

# Mission 5

In [ ]:
test_list = ['Hi', 'my', 'name', 'is', "hi", "my","name", "is", "chickychicky"]

test_list = " ".join(test_list)

test_list
print(type(test_list))

<class 'str'>

1. What can the `.join()` method do?  
What is the type of `test_list` before using `.join()`?  
What is the type of `test_list` after using `.join()`?

Answer:
It takes all items in an iterable and joins them into one string.
At the beginning is a list, then a str

In [ ]:
christmas = "Noël c'est bien, mais attention à ne pas manger trop de chocolat. On le sait, mais on le fais à chaque fois. C'est la vie"

christmas.split()

['Noël',
 "c'est",
 'bien,',
 'mais',
 'attention',
 'à',
 'ne',
 'pas',
 'manger',
 'trop',
 'de',
 'chocolat.',
 'On',
 'le',
 'sait,',
 'mais',
 'on',
 'le',
 'fais',
 'à',
 'chaque',
 'fois.',
 "C'est",
 'la',
 'vie']

2. What can the `.split()` method do?  
What is the type of `christmas` before using `.split()`?  
What is the type of `christmas` after using `.split()`?

Answer:
Split is used to break a delimited string into substrings. str to list

In [ ]:
christmas = "Noël c'est bien, mais attention à ne pas manger trop de chocolat. On le sait, mais on le fais à chaque fois. C'est la vie"


christmas.split("à")

["Noël c'est bien, mais attention ",
 ' ne pas manger trop de chocolat. On le sait, mais on le fais ',
 " chaque fois. C'est la vie"]

3. Why does the `.split()` method split the `string` into 3 elements?

Answer:
the function will use the the specified character as delimitation of the list