# Mission 1

Below is a dictionary containing the number of French campuses that offer each kind of Wild Code School course.

wildcodeschool = {
   "data_analyst": 4,
   "data_scientist": 2,
   "dev_web": "13"
}

Find a way to only display the keys that have int values.

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13",
}
for i, val in wildcodeschool.items():
  if val==int(val):
   print(val)

4
2

# Mission 2

For the same dictionary, find a way to display all the values that have a key that contains the letter "e".

In [ ]:
wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13",
}
for key, value in wildcodeschool.items():
  for i in key:
    if i == ("e"):
      print(key, value)

data_scientist 2
dev_web 13
dev_web 13

# Mission 3

Within the same dictionary, change the type of the value of the "dev_web" key to be an int. Then add a new key-value pair which will be "total_campus" : 19, using a **dictionary method**.

**Change the value of "dev_web" to be and int :**

In [ ]:
# We will use the int() function for that

wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13",
}

wildcodeschool["dev_web"] = int("13")
print(type(wildcodeschool["dev_web"]))

<class 'int'>

**Add a new key-value pair which will be "total_campus" : 19, using a dictionary method**

In [ ]:
## Method 1
# We will add a new key-value pair to the dictionary using the update() method which is a dictionary method

wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13",
}
new_item = {"total_campus":19}

wildcodeschool.update(new_item)

print(wildcodeschool)

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': '13', 'total_campus': 19}

In [ ]:
## Method 2
# We can also create a new key-value pair using the following method

wildcodeschool =	{
  "data_analyst": 4,
  "data_scientist": 2,
  "dev_web": "13",
}

wildcodeschool["total_campus"] = 19
print(wildcodeschool)

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': '13', 'total_campus': 19}

# Mission 4

Take the dictionary generated from mission 3. Delete the key value pair :
- 'dev_web': 13 using a method
- 'total_campus': 19 using another method

In [ ]:
dict_1 = {
  'data_analyst': 4,
 'data_scientist': 2,
 'dev_web': '13',
 'total_campus': 19}

dict_1.pop('dev_web')

#people["Ayoub"]       pas arrivé à intégrer cette partie
#print(type(people["Ayoub"]))

print(dict_1)

{'data_analyst': 4, 'data_scientist': 2, 'total_campus': 19}

In [ ]:
dict_1 = {
  'data_analyst': 4,
 'data_scientist': 2,
 'dev_web': '13',
 'total_campus': 19}

del dict_1["total_campus"]
print(dict_1)

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': '13'}

# Mission 5

Still within the dictionary generated from Mission 3, find a way to display the dictionary keys in alphabetical order.

In [ ]:
dict_1 = {
  'data_analyst': 4,
 'data_scientist': 2,
  'total_campus': 19,
 'dev_web': '13',
 }

dict_2 = list(dict_1.keys())
dict_2.sort()
sorted_dict = {i: dict_1[i] for i in dict_2}

print(sorted_dict)

{'data_analyst': 4, 'data_scientist': 2, 'dev_web': '13', 'total_campus': 19}

# Mission 6

Create a script that returns the same elements as the **values()** method, as a list.

Example: for `{'a': 1, 'b': 2, 'c': 3}` it will create `[1, 2, 3]`

In [ ]:
dict_1= {'a': 1, 'b': 2, 'c': 3}

list_1 = []
for i in dict_1.values():
    list_1.append(i)
print(list_1)

[1, 2, 3]

In [ ]:
dict_1= {'a': 1, 'b': 2, 'c': 3}

my_list = list(dict_1.values())

print(my_list)

[1, 2, 3]

In [ ]:
dict_1= {'a': 1, 'b': 2, 'c': 3}

my_list = [i for i in dict_1.values()]

print(my_list)

[1, 2, 3]