# Mission 1

What's the lenght of the following string ?

In [ ]:
s = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "
long = len(s)
print (long)

98

Now, count only non-space characters and display how many there is.
Remember, using a for loop on a string will browse all the individual characters of it!

In [ ]:
s = "Taumata whakatangihanga koauau o tamatea turi pukaka piki maungah oronuku pokai whenuaki tanatahu "

s.count(" ")

13

# Mission 2

Ask the user for a string, then for a character (we assume user input follows the rules). Then, display the positions, **starting with 1**, of all occurrences of the character within the string.

For example, for the word "welcome" and for the character "e", the script will display:
```
position: 2
position: 7
```

In [ ]:
phrase = input( "Choose a world : ")
character = input( "Choose a character : ")
long= len(phrase)

ind = []
for i in range(long):
  if phrase[i] == character:
    ind.append(i + 1)
if ind:
  print("position :", ind)

Choose a world : letter
Choose a character : e
position : [2, 5]

# Mission 3

Ask the user for a string, then for an integer. Then, display the string repeated as many times as the given integer.

For example, `badger` and `4` will display `badgerbadgerbadgerbadger`

In [ ]:
phrase = input( "Choose a world : ")
num = int(input("choose a number: "))

phrase*num

Choose a world : badger
choose a number: 5

'badgerbadgerbadgerbadgerbadger'

# Mission 4

Display the following string without including the spaces at the beginning and end. There's a `string` method that does exactly that, look at the documentation!

In [ ]:
s = "   Data Analyst  "
s.strip()

'Data Analyst'

# Mission 5

Ask the user for a string, then for a character, then for another character.

Then, display the string where the occurences of the first character are replaced by the second one.  
For example:
* string = `"Boulgour"`  
* 1st_char = `"g"`
* 2nd_char = `"v"`

Result : `"Boulvour"`

In [ ]:
phrase = input( "Choose a world : ")
choice_1 = input("Choose a letter to replace : ")
choice_2 = input("Choose the new letter : ")

print(phrase.replace(choice_1, choice_2 ))

Choose a world : letter
Choose a letter to replace : e
Choose the new letter : o
lottor

# Mission 6

Ask the user for a string. Then, display the same string with all vowels converted to uppercase, and all consonants converted to lowercase.  
For example:
* string = `"Papa's got a brand new bag"`  
Result : `"pApA's gOt A brAnd nEw bAg"`

In [ ]:
phrase = input( "Choose a phrase : ")
vowels = {"a","e", "i", "o", "u", "y"}

for i in phrase:
  if i in vowels:
    x= i.upper()
    phrase=phrase.replace(i,x)
  else:
    x= i.lower()
    phrase=phrase.replace(i,x)
print(phrase)

Choose a phrase : Ciao
cIAO